<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="top">
          <!-- <img src="assets/images/logo-white.svg" alt="Lucid"> -->
          <h3>Diamond Bitcoin</h3>
        </div>
        <div class="card">
          <div class="header">
            <p class="lead">Recover my password</p>
          </div>
          <div class="body">
            <p>Please enter your email address below to receive instructions for resetting password.</p>
            <form class="form-auth-small" #lockForm="ngForm" (ngSubmit)="lockForm.valid && onSubmit()">
              <div class="form-group">
                <input [ngClass]="{ 'is-invalid': lockForm.submitted && email.invalid }"
                  [(ngModel)]="forgotPasswordForm.email" #email="ngModel" name="email" type="email"
                  placeholder="Email" class="form-control" required />
                <ng-container *ngIf="lockForm.submitted && email.invalid">
                  <small *ngIf="email.hasError('required')" class="form-control-feedback text-danger">Valid Email Address is
                    <strong>required</strong></small>
                </ng-container>

              </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">
                <span *ngIf="isLoading | async" class="mr-4">
                  <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                  <span class="sr-only">Loading...</span>
                </span>
                RESET PASSWORD</button>
              <div class="bottom">
                <span class="helper-text">Know your password?
                  <a [routerLink]="['/auth/login']">Login</a>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
