.btn-fa {
  padding: 8px;
  background: #ffffff;
  margin-right: 4px;
}

.icon-btn {
  padding: 1px 15px 3px 2px;
  border-radius: 50px;
}

.linker {
  text-decoration: underline;
  color: #3C89DA;
  cursor: pointer;
  font-weight: 700;
}